body {background-color: white;}

img:hover {background-color: purple}

p {
  color: green
}

.paraone { color: blue}

.broccoliimg{

background-color: green}

#heading1 {color: red}

#paraid { color: green}
